@{
    ViewData["Title"] = " AS Home Page";
}

<header class="text-center justify-content-center">
    <h1 class="display-4">CO453 Application Programming</h1>
    <h2>by Abdul Salam </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item" >
            <a class="btn btn-success" asp-controller="Home"
             asp-controller="Home" asp-action="DistanceConverter">App01: Distance Converter</a>
            Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp-controller="Home"
            asp-controller="Home" 
               asp-action="BMICalculator">App02: BMI Calculator</a>
            BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-controller="Home"
               asp-controller="Home"
               asp-action="StudentMArks">App03: Student Marks</a>
            Student Marks

        </li>
        
    </ol>
</section>
